#loginvedio{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

#loginformdiv{
  position: fixed;
  top: 20%;
  right : 25%;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 30%;
  padding: 20px;
  border-radius:30px;
  }
  
  #loginheader{
  	background-color: rebeccapurple;
    border-radius: 5px;
    font-size: 20px;
    height: 40px;
    color: white;
    text-align: center;
  }
  
  .textcenter{
  text-align : center;
  }
  
  #signinbtn{
  	width: 100px;
  }