<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>create advertise</title>
<link rel="stylesheet" type="text/css"	href="css/bootstrap.min-4.3.1/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/global.css">
<script type="text/javascript" src="js/jquery/jquery-3.4.1.js"></script>
<script type="text/javascript" src="js/bootstrap.min/bootstrap.min.js"></script>
<script type="text/javascript" src="js/global.js"></script>
</head>
<body>
<span id="newheader"></span>
	<span th:replace="header"></span>
	<br>
	<br>
	
	
<br><br>
<span th:replace="footer"></span>

</body>
</html>